
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  
  body{ 
    font-size: 30px ;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

  } 
  .imgRedesSociales{
  height: 40px !important;
  width: 40px !important;
      padding: 0% !important;
      max-width:100% !important;
  
  } 
  .textoFooter{
    font-size: 18px !important ;
  }

}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {  
  body{ 
    font-size: 28px ;
  } 
  .imgRedesSociales{
  height: 40px !important;
  width: 40px !important;
      padding: 0% !important;
      max-width:100% !important;
  }  
  .textoFooter{
    font-size: 18px !important ;
  }

}

/*  Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {   
    body{ 
        font-size: 28px ;
      } 
    .imgRedesSociales{
  height: 40px !important;
  width: 40px !important;
        padding: 0% !important;
        max-width:100% !important;
  } 
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {  
    body{ 
        font-size: 28px ;
      } 
    .imgRedesSociales{
  height: 40px !important;
  width: 40px !important;
    padding: 0% !important;
        max-width:100% !important;
  }  
}

.verdeAzulDegradado{
   /*  background: -webkit-gradient(linear, left top, right bottom, from(#2b6644), to(#6cb3e2)); */
   background: #2770ac
  }


body{
    font-family: 'Kalam', cursive;
    color: #ffffff;

        font-size: 28px ;
    
}

h1 {
    font-size: 50px !important;
}

.card{
    background: #0C52A2 !important
}
.card-text{
    font-size: 22px
}
.sombra{
background-color: gray;
}
.reveal .controls{
 color: #ffffff
}
.tipoPlanes{
   
    width: 50px;
    padding: 0% !important;

}
.imagenredes{
    max-width: 100% !important
}
.oro{
    border-radius: 5%;
    background: #c19733;
    background: -moz-linear-gradient(left, rgba(193,151,51,1) 0%, rgba(146,117,38,1) 99%, rgba(255,207,61,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(193,151,51,1)), color-stop(99%, rgba(146,117,38,1)), color-stop(100%, rgba(255,207,61,1)));
    background: -webkit-linear-gradient(left, rgba(193,151,51,1) 0%, rgba(146,117,38,1) 99%, rgba(255,207,61,1) 100%);
    background: -o-linear-gradient(left, rgba(193,151,51,1) 0%, rgba(146,117,38,1) 99%, rgba(255,207,61,1) 100%);
    background: -ms-linear-gradient(left, rgba(193,151,51,1) 0%, rgba(146,117,38,1) 99%, rgba(255,207,61,1) 100%);
    background: linear-gradient(to right, rgba(193,151,51,1) 0%, rgba(146,117,38,1) 99%, rgba(255,207,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c19733', endColorstr='#ffcf3d', GradientType=1 );
}
.divRsocial{
    padding: 0% !important
}
.plata{
    border-radius: 5%;
    background: rgba(195,197,199,1);
    background: -moz-linear-gradient(left, rgba(195,197,199,1) 0%, rgba(195,197,199,1) 61%, rgba(227,228,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(195,197,199,1)), color-stop(61%, rgba(195,197,199,1)), color-stop(100%, rgba(227,228,229,1)));
    background: -webkit-linear-gradient(left, rgba(195,197,199,1) 0%, rgba(195,197,199,1) 61%, rgba(227,228,229,1) 100%);
    background: -o-linear-gradient(left, rgba(195,197,199,1) 0%, rgba(195,197,199,1) 61%, rgba(227,228,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(195,197,199,1) 0%, rgba(195,197,199,1) 61%, rgba(227,228,229,1) 100%);
    background: linear-gradient(to right, rgba(195,197,199,1) 0%, rgba(195,197,199,1) 61%, rgba(227,228,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c5c7', endColorstr='#e3e4e5', GradientType=1 );
}
.cajaPlata{
    border-radius: 2%;
    border: 2px solid rgba(195,197,199,1);
    margin-left: 10px !important;
}
.cajaOro{
    border-radius: 2%;
    border: 2px solid rgba(193,151,51,1);
}
.profundidad{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 5px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
ul{
   list-style:none; 
}

.tarjetaeMediana{
   height: 300px;
    width: 300px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.tarjetaeGrande{
    height: 300px;
    width: 470px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.tarjetaClase{
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.sinpadding [class*="col-"] {
    padding: 0;
}
.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.content p {
  margin: 0 0 20px;
}

/* Arrow & Hover Animation */
#more-arrows {
  width: 75px;
  height: 65px;
}
#more-arrows:hover polygon {
  fill: #FFF;
  transition: all .2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
  -webkit-transform: translateY(18px);
          transform: translateY(18px);
}

polygon {
  fill: #FFF;
  transition: all .2s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top {
  opacity: 0.5;
}